h1 {
    color: cyan;
    font-family: arial;
    font-size: 100px;
}

h3 {
    font-family: arial;
    font-size: medium;
}

p {
    font-family: arial;
}

html{
    background: url('new.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: arial;
   color: black;
   text-align: center; 
}

